@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>access Token:</h2>
<p>@ViewData["accessToken"]</p>
<h2>id Token:</h2>
<p>@ViewData["idToken"]</p>
<h2>refresh Token:</h2>
<p>@ViewData["refreshToken"]</p>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>
            @claim.Type
        </dt>
        <dd>
            @claim.Value
        </dd>
    }
</dl>

<p>Use this page to detail your site's privacy policy.</p>
